.about h2{
    
    text-decoration-line: underline;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-left: 15em;
}
.about p{
    padding-left: 15em;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-right: 2em;
}
.about a{
    padding: 4em;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: bisque;
}

.about{
    height: 50%;
    width: 80%;
    padding: 2em;
    background:rgba(0,0,0.5,0.5);
    color:rgb(236, 236, 220);
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    border-radius: 40px;
}
