.events{
    padding: 10em;
    margin: 10em;
    border: #000;
    border: 3px;
    top: 50%;
    left: 20%;
}

select{
    margin-top: 1.5px;
    background: transparent;
    height: 29px;
    width: 100%;
    border: 1px solid rgb(166, 174, 177);
    color: rgb(218, 218, 170);
    font-family:Roboto,sans-serif;
    font-weight: 1px;
}

.event-page{
    padding: 2em;
    background:rgba(0,0,0.5,0.5);
    color:#FF80FF;
    top:50%;
    left:15%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
}

.event-page input{
    width:100%;
    margin-bottom:20px;
    align:center;
}

.event-page input[type="text"]{
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
}

.event-page input[type="date"]{
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
}

.event-page p{
    margin:0;
    padding:0;
    font-weight:bold;
    color:rgb(175, 240, 186);
}

.event-page h2{
    margin:0;
    padding:0 0 20px;
    text-align:center;
    font-size:30px;
    font-weight: bold;
    color:rgb(36, 233, 223);
}

.event-page input[type="submit"]{
    border:none;
    outline:none;
    height:40px;
    background:#1c8abd;
    font-size:18px;
    border-radius:20px;
    color: #FFFFFF
}

.event-page input[type="submit"]:hover{
    cursor:pointer;
    background:#6bcc90;
    color:rgb(39, 30, 30);
}
