/* nav{
    width: 100%;
    background: rgba(0,0,0.5,0.5);
    overflow: auto;
}
ul{
    padding: 0;
    margin: 0 0 0 50px;
    list-style: none;
}
.links li{
    float: left;
}

.links li a{
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration:inherit;
    font-family: Arial;
    color:#FFFFFF;
    text-align: center;
    border-color: #fff;
    margin: 2px;
}

body{
    
    background-repeat: no-repeat;
    display: flex;
    background-size: 100% 700px;
}

nav li a:hover{
    background: rgb(184, 187, 181);
    transition: 0.5s;
    text-transform: uppercase;
}

.search{
    margin-top: 15px;
    float: right;
    margin-right: 300px;
}
form button{
    float: left;
    background: orange;
    border-radius: 0 5px 5px 0;
    border-color: white;
    margin-top: -30px;
    margin-right: 238px;
    border: 1px;
    position: relative;
    color: white;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    padding: 7px;
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

form input{
    background-image:inherit;
    float: left;
}    

.contact{ 
    background: transparent;
    display: none;
    position: absolute;
    background: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px gray;  
} 

.contact img{
    height: 30px;
    width: 30px;
    border-color: #000;
    border-radius: 10px;
    
}
.links ul li{
    display: none;
}
.links:hover ul li{
    display: block;
    padding: 10px;
    color: #fff;
    /* margin-left: 1em; 
} */

body{
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    background-size: 100% 700px;
}

nav{
    width: 100%;
    /* height: 60px; */
    background: rgba(0,0,0.5,0.5);
    border-radius: 10px;
    overflow: auto;
    margin-top: auto;
    margin-bottom: auto;
}

nav a:hover{
    background: rgba(0,0,0.5,0.5);
    transition: 0.2s;
    text-transform: uppercase;
}

/* nav a{
    border: 1px solid #fff;
    height: 1px;
} */

.navbar{
    overflow: hidden;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.navbar a{
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
}

.contact{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background: transparent;
    font-family: inherit;
    margin: 0;
}

.options{
    display: none;
    position: absolute;
    background: rgba(0,0,0.5,0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.options a{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.options a:hover{
    background: rgba(0,0,0.5,0.5);
}

.options img{
    height: 20px;
    width:20px;
    border-radius: 6px;
}

.dropdown:hover .options{
    display: block;
}
form{
    margin: 6px;
}

form button{
    padding: 6px;
    background: orange;
    border-radius: 0 5px 5px 0;
    border-color: white;
    /* margin-top: -30px;
    margin-right: 238px; */
    /* border: 1px; */
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

form input{
    padding: 6px;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
